<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- <bean id="developer" class = "com.prachi.springdemo.Developer" scope="prototype">
    </bean> -->


    <bean id ="developer1" class = "com.prachi.springdemo.Developer" autowire="byType">

        <property name="age" value="25"/>
        <!-- <property name="com" ref="com"/>-->

    </bean>

    <bean id="com1" class="com.prachi.springdemo.Laptop" lazy-init="true"/>
    <bean id ="com2" class = "com.prachi.springdemo.Desktop" primary="true"/>


</beans>