<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- <bean id="developer" class = "com.prachi.springdemo.Developer" scope="prototype">
    </bean> -->


    <bean id ="developer1" class = "com.prachi.springdemo.Developer">

        <property name="age" value="25"/>
        <property name="com" ref="laptop"/>

    </bean>

    <bean id ="laptop" class = "com.prachi.springdemo.Laptop">
    </bean>

</beans>