<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- <bean id="developer" class = "com.prachi.springdemo.Developer" scope="prototype">
    </bean> -->


    <bean id ="developer1" class = "com.prachi.springdemo.Developer">
        <constructor-arg index="1" ref="laptop" />
        <constructor-arg index="0" value="21" />

        <constructor-arg index="2" value="Mohit" />


    </bean>

    <bean id ="laptop" class = "com.prachi.springdemo.Laptop">
    </bean>

</beans>